body {
    margin: 0px;    
    padding: 0px;
}

header {
    background-color: rgba(1, 2, 8, 0.55);
    position: fixed;
    width: 100%;
    display: flex;
    padding: 17px;
    justify-content: space-around;
    align-items: center;
}

#display-name {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    color: white;
}

.header-button, #display-name {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.header-button {
    border: none;
    background-color: transparent;
    color: white;
}

.char {
    transform: translateY(50px);
    transition: transform 0.5s
}

main {
    text-align: center;
}

.hero {
    height: 100vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}