@keyframes radial-wave {
    0% {
        background-size: 100% 100%;
    }
    50% {
        background-size: 105% 105%; /* expands the border/waves */
    }
    100% {
        background-size: 100% 100%;
    }
}

body {
    margin: 0px;    
    padding: 0px;
}

.container{
  max-width: 1300px;   /* adjust to your taste */
  margin: 0 auto;      /* centers the inner content */
  padding: 0 24px;     /* inner side padding */
}

header {
    background-color: rgba(3, 3, 3, 0.25);
    position: fixed;
    width: 100%;
    padding: 17px 0;  /* remove side padding here */
    z-index: 10;
}

.header-inner{
  display: flex;
  justify-content: space-between;  /* name left, nav right */
  align-items: center;
}

.header-buttons{
  display: flex;
  gap: 14px;
}

#display-name {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    color: white;
}

.header-button, #display-name, main {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.header-button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

.char {
    transform: translateY(50px);
    transition: transform 0.5s
}

.hero {
    position: relative;
    height: 100vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    inset: 0;
    z-index: 0;

    /* Radial gradient stays centered */
    background: radial-gradient(circle, #3a3a4e 0%, #3c6170 60%, #111111 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    /* Pulsate effect */
    animation: radial-wave 3s ease-in-out infinite;
}

.hero-content {
    position: relative;
    z-index: 1; /* above background */
    max-width: 600px;
    padding: 2rem;
    text-align: center;
}

.hero-content h2 {
    font-size: 50px;       /* Name: slightly smaller */
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.hero-content h3 {
    font-size: 27px;    /* Role: smaller */
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.hero-content h4 {
    font-size: 17px;       /* Tagline: smaller */
    font-weight: 400;
    line-height: 1.5;
    max-width: 550px;
    margin: 0 auto;
}

#project-text {
    font-size: 25px;
}